{% extends "base.html" %}
{%block title %}Web地址上傳圖片 {% endblock %}
{% block content %}
<form method="post" action="/a/g/" class="f">
<fieldset>
	<p>
		{{error}}
	</p>
    <p>
    <select name="album" id="album_select">
        {% for album in albums %}
        <option value="{{album.slug}}" {% ifequal album.slug album_select%} selected="selected" {% endifequal %}>{{album.name}}({{album.count}})</option>
        {% endfor %}
    </select>
	 <label for="album">選擇相冊</label>
    </p>
	<p>
		<input  name="name" type="text" style="width:200px;" maxlength="100" value="{{name}}"> <label for="name">文件名</label>
	</p>
	<p>
		<input  name="u" type="text" style="width:400px;" maxlength="100" value="{{u}}">
    <p>
        <p><textarea id="des" name="des" style="width:400px"></textarea></p>
    </p>
    <p>
        <input type="submit" value="保存">
    </p>
</fieldset>
</form>
{% endblock %}